html,
body {
font-family: "Roboto", sans-serif;
overflow-x: hidden;
}

/* .header-bg {
background: linear-gradient(to left, rgba(33, 33, 33, 0.27), rgb(33, 33, 33)),
    url("public/Assets/images/img1.webp");
background-size: cover;
background-position: center;
background-attachment: fixed;
color: #fff;
} */
.desc-main {
padding-top: 2rem;
padding-bottom: 2rem;
}


.links {
padding-top: 5rem;
padding-bottom: 5rem;
}

.links h5 {
margin-top: 3rem;
}

.links img {
height: 100%;
width: 75%;
float: right;
}

/* STYLE CARDS HOME PAGE */
html {
scroll-behavior: smooth;
}

.linkCard {
background-color: goldenrod;
text-decoration: none;
color: white;
border-radius: .25rem;
text-align: center;
display: inline-block;
transition: all .3s;
}

.linkCard:hover {
opacity: .6;
}

/* Styles for the hero image */
/* breweries styles */
.breweries {
padding: 2rem;
}

.breweries > ul {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
grid-gap: 1rem;
}

.breweries > ul > li {
border: 1px solid #E2E2E2;
border-radius: .5rem;
}

.breweries > ul > li > figure {
max-height: 220px;
overflow: hidden;
border-top-left-radius: .5rem;
border-top-right-radius: .5rem;
position: relative;
}

.breweries > ul > li > figure > img {
width: 100%;
}

.breweries > ul > li > figure > figcaption {
position: absolute;
bottom: 0;
background-color: rgba(0,0,0,.7);
width: 100%;
}

.breweries > ul > li > figure > figcaption > h3 {
color: white;
padding: .75rem;
font-size: 1.25rem;
}

.breweries > ul > li > p {
font-size: 1rem;
line-height: 1.5;
padding: 1rem .75rem;
color: #666666;
}

.breweries > ul > li > a {
padding: .5rem 1rem;
margin: .5rem;
}
/* FIN STYLE HOME PAGE */

.contact-us {
    text-align: center;
    color: #fff;
    background: #333;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  .contact-us p {
    font-weight: 100;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #ffffff;
    background-color: transparent;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 0rem !important;
    margin-bottom: 1rem; /* Ajout pour espacement entre les champs */
  }
  
  form {
    margin-top: 4rem;
  }
  
  /* Ajout pour les labels */
  form label {
    margin-bottom: 0.5rem;
  }
  